@{
    ViewBag.Title = "About";
}

<h1 style="color:deeppink">Welcome to Kwality Sweets and Restaurant</h1>

<h2 style="color:brown">Menu</h2>




<div class="jumbotron">
    <h3>Soups</h3>
    <img alt="Soups" height="198" src="~/Asset/Images/MenuSoups.jpg" style="float: right" width="259">
    <p>Soup is a primarily liquid food, generally served warm or hot (but may be cool or cold), that is made by combining ingredients such as meat and vegetables with stock, juice, water, or another liquid. Traditionally, soups are classified into two main groups: clear soups and thick soups. The established French classifications of clear soups are bouillon and consommé.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Soups")" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
    <h3>Appetizers</h3>
    <img alt="Appetizers" height="198" src="~/Asset/Images/MenuAppetizers.jpg" style="float: right" width="259">
    <p>Usually, an appetizer is a small serving of food — just a few bites — meant to be eaten before an entree, and often shared by several people. You can also call an appetizer an hors d'oeuvre. An appetizer is meant to stimulate your appetite, making you extra hungry for your meal. This is where the word comes from, literally meaning "something to whet the appetite" or "something to appetize."</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Appetizers")" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
    <h3>Desserts</h3>
    <img alt="Desserts" height="198" src="~/Asset/Images/MenuDesserts.jpg" style="float: right" width="259">
    <p>Dessert is a course that concludes a main meal. The course usually consists of sweet foods and beverages, such as dessert wine or liqueurs, but may include coffee, cheeses, nuts, or other savory items. In some parts of the world, such as much of central and western Africa, there is no tradition of a dessert course to conclude a meal.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Desserts")" role="button">Learn more</a></p>
</div>