@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3 style="color:brown">Welcome to Kwality Sweets and Restaurant</h3>

<p>Since 1996 Kwality Sweets has been a recommended member of the Canadian Restaurant & Foodservices Association. They cook delicious and authentic East Indian Food & Sweets. We take great pride in making our sweets. With over 70 different Indian and Bengali sweets made by sweet makers from India with a minimum of 20 years experience, they produce unbelievable sweets with unique tastes.</p>
<p>We offer a smoke-free, wheel chair friendly lounge for seating up to 140 people with classic Indian music and beautiful scenery. We take great pride in our cozy and clean atmosphere for dining-in. Our fast, friendly take-out and unique catering to fit your needs to parties of all sizes and occasions.</p>

<p></p>
