@{
    ViewBag.Title = "Home Page";
}

@*Student 1 : Dinesh Palle - 300705307,
    Student 2: Tarun Rana - 300871205*@

<div class="row">
    <div class="col-md-4">
        <h2>Menu</h2>
        <img alt="Banner" src="~/Asset/Images/MenuImage.jpg" height="250" width="250" />
        <br/>
        <p><a class="btn btn-default" @Html.ActionLink("More Details", "Index")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <img alt="Banner" src="~/Asset/Images/ContactUsImage.jpg" height="250" width="250" />
        <br/>
        <p><a class="btn btn-default" @Html.ActionLink("More Details", "Contact")</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <img alt="Banner" src="~/Asset/Images/AboutUsImage.jpg" height="250" width="250" />
        <br/>
        <p><a class="btn btn-default" @Html.ActionLink("More Details", "About")</a></p>
    </div>
</div>